@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #FDBB30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 10px;
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.8);
    background: #007AC1;  /* fallback for old browsers */
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}



.inputs{
    display: flex;
    margin: 1vh;
}

input[type='text']{
    grid-column: 2;
    font-size: 1.5rem;
    max-width: 90%;
    align-items: center;
    margin: 2vh;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
}
input[type='submit']{
    font-size: .9rem;
    max-width: 40%;
    align-items: center;
    margin: 2vh;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
}

.local, .temperatura, #descricaotempo{
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
}

.local{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    grid-column: 1/2;
    grid-row: 3/4;
}

.info{
    margin-top: 5vh;
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

img{
    margin: 0 auto;
    width: 35vh;
    height: auto;
    grid-column: 2;
}
.temperatura{
    align-items: center;
    justify-content: center;
    grid-column: 2;
}
.local{
    align-items: center;
    justify-content: center;
    grid-row: 1;
}
#descricaotempo{
    grid-column: 2;
}

@media screen and (max-width: 1356px) {
    img{
        margin: 0 auto;
        width: 35vh;
        height: auto;
    }
    
    .container{
        width: 70%;
        height: 75%;
    }
}

@media screen and (max-width: 1105px) {
    img{
        margin: 0 auto;
        width: 35vh;
        height: auto;
    }
}

@media screen and (max-width: 933px) {
    img{
        margin: 0 auto;
        width: 30vh;
        height: auto;
    }

    .container{
        width: 75%;
        height: 80%;
    }
}

@media screen and (max-width: 700px) {
    img{
        margin: 0 auto;
        width: 25vh;
        height: auto;
    }

    .container{
        width: 80%;
        height: 80%;
    }

    .temperatura, .local, #descricaotempo{
       font-size: 1.3rem;
    }
}

@media screen and (max-width: 577px) {
    img{
        margin: 0 auto;
        width: 25vh;
        height: auto;
    }

    .container{
        width: 100%;
        height: 80%;
    }

    .temperatura, .local, #descricaotempo{
       font-size: 1.3rem;
    }
}